        body { 
            font-family: Arial, sans-serif; 
            background: #f4f4f4; 
            margin: 0; 
            padding: 0; 
        }
        .container { 
            max-width: 400px; 
            margin: 50px auto; 
            background: #fff; 
            padding: 2em; 
            border-radius: 8px; 
            box-shadow: 0 2px 8px rgba(51, 33, 219, 0.886);
        }
        h1 { 
            text-align: center;
            color: #4018a6;

        }
        input[type="text"] { 
            width: 100%; 
            padding: 0.5em; 
            margin-bottom: 1em; 
            border: 1px solid #474343; 
            border-radius: 4px;
        }
        button { 
            width: 100%; 
            padding: 0.7em; 
            background: #0078d7; 
            color: #fff; 
            border: none; 
            border-radius: 4px; 
            font-size: 1em; 
            cursor: pointer;
        }
        button:hover { 
            background: #09941e; 
        }
        #qrcode { 
            display: flex; 
            justify-content: center; 
            margin-top: 1.5em; 
        }